.box1{
    
    position: absolute;
    width: 758px;
    height: 150px;
    left: 392px;
    top: 30px;
    
    background: #D1FDCA;
    border-radius: 50px;
    
    position: absolute;
    width: 749px;
    height: 150px;
    left: 392px;
    top: 42px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight:bold;
    font-size: 25px;
    line-height: 150px;
    text-align: center;
    
    color: #000000;
    
    }

    .name{
        position: absolute;
    width: 23px;
    height: 24px;
    left: 369px;
    top: 222px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
    }
    
    .surname{
        position: absolute;
    width: 68px;
    height: 4px;
    left: 663px;
    top: 227px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
    }
    
    .prinum{
        position: absolute;
    width: 237px;
    height: 115px;
    left: 917px;
    top: 225px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
    }
    
    .job{
        position: absolute;
    width: 45px;
    height: 24px;
    left: 1298px;
    top: 227px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
    }
    
    .boxname{
        
    position: absolute;
    width: 273px;
    height: 55px;
    left: 353px;
    top: 259px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .boxsurname{
        position: absolute;
    width: 273px;
    height: 55px;
    left: 646px;
    top: 259px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .boxprinum{
        position: absolute;
    width: 273px;
    height: 55px;
    left: 962px;
    top: 259px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .listjob{
        position: absolute;
    width: 100px;
    height: 40px;
    left: 1290px;
    top: 259px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }

    .regemail{
        position: absolute;
    width: 60px;
    height: 24px;
    left: 369px;
    top: 340px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
    }
    
    .boxemail{
        position: absolute;
    width: 273px;
    height: 55px;
    left: 353px;
    top: 369px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .phone{
        position: absolute;
    width: 150px;
    height: 24px;
    left: 663px;
    top: 340px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    }
    
    .boxphone{
    position: absolute;
    width: 273px;
    height: 55px;
    left: 646px;
    top: 369px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .year{
        position: absolute;
    width: 50px;
    height: 48px;
    left: 969px;
    top: 335px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    }
    
    .boxyear{
        position: absolute;
    width: 273px;
    height: 55px;
    left: 952px;
    top: 364px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    .locals{
        position: absolute;
    width: 40px;
    height: 24px;
    left: 80px;
    top: 490px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    }
    
    .numhome{
        position: absolute;
    width: 90px;
    height: 24px;
    left: 180px;
    top: 514px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    }
    
    .boxnumhome{
        position: absolute;
    width: 117px;
    height: 52px;
    left: 171px;
    top: 550px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .moo{
        position: absolute;
        width: 25px;
        height: 24px;
        left: 340px;
        top: 514px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
    }
    
    .boxmoo{
        position: absolute;
    width: 117px;
    height: 52px;
    left: 322px;
    top: 550px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
    }
    
    .road{
        position: absolute;
        width: 37px;
        height: 24px;
        left: 485px;
        top: 514px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
        
    }
    
    .boxroad{
        position: absolute;
        width: 199px;
        height: 60px;
        left: 473px;
        top: 542px;
        
        background: rgba(217, 217, 217, 0.5);
        border-radius: 25px;
    }
    
    .district{
        position: absolute;
        width: 50px;
        height: 24px;
        left: 706px;
        top: 514px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
        
    }
    
    .boxdistrict{
        position: absolute;
        width: 199px;
        height: 60px;
        left: 697px;
        top: 542px;
        
        background: rgba(217, 217, 217, 0.5);
        border-radius: 25px;
    }
    
    .county{
        position: absolute;
    width: 45px;
    height: 24px;
    left: 929px;
    top: 509px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    }
    
    .boxcounty{
        position: absolute;
        width: 199px;
        height: 60px;
        left: 919px;
        top: 542px;
        
        background: rgba(217, 217, 217, 0.5);
        border-radius: 25px;
    }
    
    .province{
        position: absolute;
        width: 56px;
        height: 24px;
        left: 180px;
        top: 637px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
        
    }
    
    .boxprovince{
        position: absolute;
        width: 199px;
        height: 60px;
        left: 171px;
        top: 667px;
        
        background: rgba(217, 217, 217, 0.5);
        border-radius: 25px;
    }
    
    .zipcode{
        position: absolute;
        width: 120px;
        height: 24px;
        left: 418px;
        top: 637px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        
        color: #000000;
    }
    
    .boxzipcode{
        position: absolute;
        width: 199px;
        height: 60px;
        left: 405px;
        top: 667px;
        
        background: rgba(217, 217, 217, 0.5);
        border-radius: 25px;
    }    

.con{
    position: absolute;
width: 300px;
height: 26px;
left: 173px;
top: 768px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}


.ckcon{
    position: absolute;
width: 24px;
height: 28px;
left: 171px;
top: 762px;

background: #D9D9D9;
}

.cn{
    position: absolute;
    width: 100px;
    height: 48px;
    left: 498px;
    top: 768px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
}

.ckcn{
    position: absolute;
width: 24px;
height: 28px;
left: 458px;
top: 762px;

background: #D9D9D9;
}

.cnhome{
    position: absolute;
width: 100px;
height: 24px;
left: 181px;
top: 859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcnhome{
    position: absolute;
    width: 117px;
    height: 52px;
    left: 172px;
    top: 895px;
    
    background: rgba(217, 217, 217, 0.5);
    border-radius: 25px;
}

.cnmoo{
    position: absolute;
width: 25px;
height: 24px;
left: 341px;
top: 859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcnmoo{
    position: absolute;
width: 117px;
height: 52px;
left: 323px;
top: 895px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;
}

.cnroad{
    position: absolute;
width: 37px;
height: 24px;
left: 486px;
top: 859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcnroad{
    position: absolute;
width: 199px;
height: 60px;
left: 474px;
top: 887px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;
}

.cndistrict{
    position: absolute;
width: 50px;
height: 24px;
left: 707px;
top: 859px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcndistrict{
    position: absolute;
width: 199px;
height: 60px;
left: 698px;
top: 887px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;    
}

.cncounty{
    position: absolute;
width: 45px;
height: 24px;
left: 930px;
top: 854px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcncounty{
    position: absolute;
width: 199px;
height: 60px;
left: 920px;
top: 887px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;
}

.cnprovince{
    position: absolute;
width: 56px;
height: 24px;
left: 181px;
top: 982px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcnprovince{
    position: absolute;
width: 199px;
height: 60px;
left: 172px;
top: 1012px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;
}

.cnzipcode{
    position: absolute;
width: 110px;
height: 24px;
left: 419px;
top: 982px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;
}

.boxcnzipcode{
    position: absolute;
width: 199px;
height: 60px;
left: 406px;
top: 1012px;

background: rgba(217, 217, 217, 0.5);
border-radius: 25px;
}

.ckacp{
position: absolute;
width: 24px;
height: 28px;
left: 181px;
top: 1116px;

background: #D9D9D9;
}
.acp{
    position: absolute;
    width: 210px;
    height: 26px;
    left: 209px;
    top: 1122px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;
    
}

.btnreg{
    position: absolute;
width: 375.5px;
height: 79px;
left: 583px;
top: 1240px;

background: rgba(206, 255, 202, 0.5);
border-radius: 20px;
cursor: pointer;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
text-align: center;

color: #1C5713;
}

.img{
    position: absolute;
width: 218px;
height: 309px;
left: 80px;
top: 77px;
}

.cho{
    position: absolute;
width: 300px;
height: 43px;
left: 119px;
top: 409px;

}

.size{
    position: absolute;
width: 23px;
height: 24px;
left: 160px;
top: 47px;
}
